:root {
  font-family: 'Work Sans', serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
}

@media (max-width: 1050px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 850px) {
  :root {
    font-size: 6px;
  }
}

@media (max-width: 650px) {
  :root {
    font-size: 4px;
  }
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-size: 1.6em;
  padding: 0;
  margin: 0;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
